global
  log stdout format raw local0
  chroot /var/lib/haproxy
  pidfile /var/run/haproxy.pid
  maxconn 1024
  user haproxy
  group haproxy

defaults
  mode http
  log global
  log-format "%ST %B %{+Q}r"
  option dontlognull
  option http-server-close
  option forwardfor except 127.0.0.0/8
  option redispatch
  retries 3
  timeout http-request 15s
  timeout queue 1m
  timeout connect 15s
  timeout client 1m
  timeout server 1m
  timeout http-keep-alive 15s
  timeout check 15s
  maxconn 1024

listen stats
  bind 0.0.0.0:4444
  mode http
  log global
  maxconn 30
  timeout client 60s
  timeout server 60s
  timeout connect 60s
  timeout queue 60s
  stats enable
  stats hide-version
  stats refresh 30s
  stats show-desc
  stats show-legends
  stats show-node
  stats uri /

frontend main
  bind 0.0.0.0:3128
  default_backend privoxy
  mode http

backend privoxy
  option httpchk  
  balance roundrobin
